<h1><i class="fa fa-tasks"> </i><b> Progress.</b></h1>
<div class="row">
  <div class="col-sm-6 hero">
    <h2 class="mt-4">Stay on top of your schedules and make real <b>progress</b>.</h2>
    <div class=" form-inline mt-5">
      <input type="text" class="form-control mr-sm-2" , style="width:250px" , placeholder="Email">
      <%= link_to "Sign Up", "#", class: "btn btn-success px-5"%>
    </div>
  </div>
</div>