<h1><i class="fa fa-tasks"> </i><b> Progress.</b></h1>
<p>Helps you stay on top of your schedule.</p>
<div class="form-inline mt-5">
  <input type="text" class="form-control mr-sm-2" , style="width:250px" , placeholder="Email">
  <%= link_to "Sign Up", "#", class: "btn btn-success"%>
</div>