<div class="jumbotron pl-5">
  <h1><i class="fa fa-tasks"> </i><b> Progress.</b></h1>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="mt-4 mb-5">Stay on top of your schedules and make real <b>progress</b>.</h2>
      <p>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success p-2", style: "width:200px"%>
      </p>
    </div>
  </div>
</div>